.suggestions {
  border: 1px solid var(--secondary-color);
  border-top: 0;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  background: white;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid var(--secondary-color);
}

.suggestion {
  padding: 8px;
  list-style: none;
  cursor: pointer;
}
