@import '../node_modules/material-design-icons/iconfont/material-icons.css';

:root {
  --primary-color: #666;
  --secondary-color: lightgray;
  --color-accented: grey;
}

body {
  font-family: sans-serif;
  font-size: 18px;
}

ul, li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.content {
  width: 100%;
}

@media (min-width: 480px) {
  .content  {
    width: 70%;
  }
}

.li {
  display: flex;
  align-items: center;
}

.form--container .text-field {
  margin: 5px 0;
}
